body{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://i.pinimg.com/1200x/1c/59/dc/1c59dcecc6255fb561758fa85bb17863.jpg");
  background-size: cover;
  background-position: center;
}

  .recuperar-form {
    background-color: white;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
  }

  .recuperar-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .recuperar-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

  .recuperar-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .recuperar-form button {
    width: 100%;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .recuperar-form button:hover {
    background-color: #1976D2;
  }

  .wrapper .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover{
    text-decoration: underline;
}